temp/*
Assignment-2/__pycache__/*
Assignment-2/pickle_*
Assignment-2/tempCodeRunnerFile.py
Assignment-2/utils.pyc
Assignment-2/temp.py
Assignment-2/.vscode/*
naive_bayes.pyc
new_file
report
Figure_1.png
nSV_*
model_gaussian
model_linear
wlinear